@charset "UTF-8";
/* ININIO DE ESTILOS GENERALES */
* {
  margin: 0px;
  padding: 0px; }

h1, h2 {
  font-family: "saira", sans-serif;
  font-weight: 800; }

h3, h4, h5 {
  font-family: "saira", sans-serif;
  font-weight: 500; }

p {
  font-family: "saira", sans-serif;
  font-weight: 200; }

ul li {
  list-style: none;
  font-family: "saira", sans-serif; }

a:link, a:visited, a:active {
  text-decoration: none; }

/* FIN DE ESTILOS GENERALES */
/* ////////////////////// BOTONES ////////////////////// */
.button, .btnSecundario {
  font-weight: 200;
  border-radius: 20px;
  letter-spacing: 3px;
  margin: 5px 0px;
  padding: 10px 35px;
  width: auto;
  transition: all 500ms; }
  .button a, .btnSecundario a {
    text-decoration: none;
    color: #fff; }
  .button:hover, .btnSecundario:hover {
    cursor: pointer;
    transform: scale(1.03); }

.btnPrincipal {
  background-color: #000;
  border: #e31a52 solid 1px;
  color: #fff; }
  .btnPrincipal:hover {
    background-color: #e31a52; }

.btnSecundario {
  background-color: #999;
  border: #000 solid 0px;
  color: #fff; }
  .btnSecundario:hover {
    background-color: #676767; }

.txtMagenta {
  color: #e31a52; }

/* INICIO DE ESTILOS DE HEADER */
.icons {
  text-align: center; }

#navMobile {
  display: none; }

.contenNav {
  display: flex;
  justify-content: space-between;
  margin: 0rem 5rem; }

.navbar-nav-Desktop {
  display: flex !important;
  flex-direction: row;
  gap: 2rem;
  text-align: center; }

.navbar-nav-Mobile {
  display: flex !important;
  flex-direction: column; }

.containerLogo {
  display: flex;
  align-items: center; }
  .containerLogo img {
    width: 10rem; }
    @media (min-width: 992px) {
      .containerLogo img {
        width: 15rem; } }

.links {
  color: #fff; }

.offcanvas {
  width: 200px !important; }

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end; }

/* FIN DE ESTILOS DE HEADER */
/* INICIO DE FOOTER  */
.containerFooter {
  background-color: #000;
  min-height: 20rem;
  color: #fff;
  padding: 3rem 0rem;
  text-align: center; }

.contenFooter {
  margin: 0rem 1.5rem; }
  @media (min-width: 992px) {
    .contenFooter {
      margin: 0rem 5rem; } }

.contenRedes img {
  width: 3.5rem; }

.containerLogoFooter img {
  width: 15rem; }

/* FIN DE FOOTER  */
/* INICIO DE BANNER HOME */
.containerBannerHome {
  min-height: 15rem;
  background-image: url("../../img/banners/bannerHome.jpg");
  background-size: cover;
  background-position: center 60%; }
  @media (min-width: 1200px) {
    .containerBannerHome {
      min-height: 35rem;
      top: 50%; } }

/* FIN DE BANNER HOME */
/* INICIO DE SECCION 1 PC ARMADA */
.containerPCArmadas {
  margin: 0rem 1.5rem;
  padding: 4rem 0rem; }
  @media (min-width: 992px) {
    .containerPCArmadas {
      margin: 0rem 5rem; } }

.contenPCArmadas {
  min-height: 30rem; }
  @media (min-width: 992px) {
    .contenPCArmadas {
      display: flex;
      flex-direction: row; } }

.card {
  width: 20rem;
  margin: 1rem 0rem; }
  @media (min-width: 992px) {
    .card {
      width: 35rem;
      margin: 0rem 0.2rem; } }

/* FIN DE SECION 1 PC ARMADAS */
/* INICIO DE SECCIÓN 2 */
.containerSeccion2 {
  background-color: #f2f2f2;
  min-height: 30rem;
  padding: 3rem 0rem; }

.contenSeccion2 {
  margin: 0rem 1.5rem;
  text-align: center; }
  @media (min-width: 992px) {
    .contenSeccion2 {
      margin: 0rem 5rem; } }

.containerImgSeccion2 {
  width: 80%;
  margin: 2rem auto; }
  .containerImgSeccion2 img {
    width: 100%; }

.containerTextSeccion2 {
  margin: auto; }

/* FIN DE SECCIÓN 2 */
/* INICIO DE BANNER DIV */
.containerImgDiv {
  background-image: url("../../img/banners/bannerDiv.jpeg");
  min-height: 8rem;
  background-position: center 25%;
  background-size: cover; }
  @media (min-width: 992px) {
    .containerImgDiv {
      min-height: 20rem;
      top: 50%; } }

/* FIN DE BANNER DIV */
/* INICIO DE SECCIÓN MULTIMEDIA */
.conaiterMultimedia {
  background-color: #f2f2f2;
  min-height: 30rem;
  padding: 3rem 0rem; }

.conteMultimedia {
  margin: 0rem 1.5rem; }
  @media (min-width: 992px) {
    .conteMultimedia {
      margin: 0rem 5rem; } }

.containerVideo {
  width: 80%; }
  .containerVideo iframe {
    width: 100%;
    height: 100%; }

/* FIN DE SECCIÓN MULTIMEDIA */
/* INICIO DE DOBLE SECCIÓN PUBLICIDAD Y NEWSLATTER */
.section-fullwidth {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 30rem; }

.division {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 992px) {
    .division {
      flex: 1 1 50%; } }

.containerPublicidad {
  background-color: #e31a52;
  width: 100%;
  height: 100%;
  padding: 0rem 1.5rem; }
  @media (min-width: 992px) {
    .containerPublicidad {
      padding: 0rem 5rem; } }

.containerNewsletter {
  background-color: #676767;
  width: 100%;
  height: 100%;
  padding: 0rem 1.5rem; }
  @media (min-width: 992px) {
    .containerNewsletter {
      padding: 0rem 5rem; } }

.contenNewslatter {
  margin: 3rem 0rem; }
  .contenNewslatter h3, .contenNewslatter h4 {
    margin: 1rem 0rem; }
  .contenNewslatter form {
    margin: 2rem 0rem; }
  .contenNewslatter button {
    margin: 1rem 0rem; }

/* FIN DE DOBLE SECCIÓN PUBLICIDAD Y NEWSLATTER */
.experience {
  margin: 0rem 1.5rem; }
  @media (min-width: 992px) {
    .experience {
      margin: 0rem 5rem; } }
  .experienceTitle {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 3rem;
    text-align: center; }
  .experienceDirecction {
    flex-direction: row-reverse !important; }

.lineDiv {
  border: 1px solid #e31a52;
  margin: 3rem auto;
  width: 50%; }

/*# sourceMappingURL=style.css.map */
