<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <title>Digital4Tech</title>
    </head>
    <body>
        <nav class="containerNav">
            <div class="contenNav">
                <div class="containerLogo">
                    <a href="../index.html"><img src="../img/logo.svg" alt="Logo de Digital 4 Tech"></a>
                </div>
                <ul class="contenLink">
                    <li><a href="" class="links">Boton 1</a></li>         
                    <li><a href="" class="links">Boton 2</a></li>         
                    <li><a href="../views/novedades.html" class="links">Novedades</a></li>         
                    <li><a href="../views/nosotros.html" class="links">Nosotros</a></li>         
                    <li><a href="../views/contacto.html" class="links">Contacto</a></li>         
                </ul>
            </div>
        </nav>
        <h1>Contacto</h1>
        <footer>
            <div class="containerFooter">
                <div class="contenFooter">
                    <h2>FOOTER</h2>
                    <div class="containerSeccionesFooter">
                        <div class="containerMap">
                            <div class="contenMap">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1632471.4166387236!2d-126.21997132424205!3d44.223633824700386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc945173b3dd7%3A0xe8a347bb55df550c!2sCoderhouse!5e0!3m2!1ses-419!2sar!4v1715284417385!5m2!1ses-419!2sar" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <div class="containerRedes">
                            <h4>Seguinos en Nuestras Redes</h4>
                            <div class="contenRedes">
                                <img src="../img/redes/youtube.svg" alt="Logo de Youtube">
                                <img src="../img/redes/whatsapp.svg" alt="Logo de WhatsApp">
                                <img src="../img/redes/instagram.svg" alt="Logo de Intagram">
                            </div>
                        </div>
                        <div class="containerLogoFooter">
                            <img src="../img/logoGrey.svg" alt="Logo de Digital 4 Tech">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>