<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta name="description"
        content="Enterate de las últimas noticias y novedades del mundo Gamer. Computadoras, consolas, y juegos">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- michalsnik -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
    <title>Últimas Novedades en Digital4Tech</title>
</head>

<body>
    <nav>
        <div id="navDesktop" class="navbar navbar-expand-lg navbar-dark bg-dark d-lg-block d-none">
            <div class="contenNav">
                <div class="containerLogo">
                    <a href="../index.html"><img src="../img/logo.svg" alt="Logo de Digital 4 Tech"></a>
                </div>
                <div class="navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto navbar-nav-Desktop">
                        <li class="nav-item icons">
                        <li><a href="./ingresos.html" class="links"><i class="fa-solid fa-desktop"></i>
                                <p>Nuevos Ingresos</p>
                            </a></li>
                        <li><a href="./experiencias.html" class="links"><i class="fa-solid fa-comments"></i>
                                <p>Experiencia de Usuarios</p>
                            </a></li>
                        <li><a href="./novedades.html" class="links"><i class="fa-solid fa-wand-magic-sparkles"></i>
                                <p>Novedades</p>
                            </a></li>
                        <li><a href="./nosotros.html" class="links"><i class="fa-solid fa-users"></i>
                                <p>Nosotros</p>
                            </a></li>
                        <li><a href="./contacto.html" class="links"><i class="fa-solid fa-phone"></i>
                                <p>Contacto</p>
                            </a></li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="navMobile" class="navbar navbar-dark bg-dark d-block d-lg-none">
            <div class="container-fluid">
                <div class="containerLogo">
                    <a href="../index.html"><img src="../img/logo.svg" alt="Logo de Digital 4 Tech"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav mr-auto navbar-nav-Mobile">
                            <li class="nav-item icons">
                                <a href="./ingresos.html" class="links"><i class="fa-solid fa-desktop"></i>
                                    <p>Nuevos Ingresos</p>
                                </a>
                            </li>
                            <li class="nav-item icons">
                                <a href="./experiencias.html" class="links"><i class="fa-solid fa-comments"></i>
                                    <p>Experiencia de Usuarios</p>
                                </a>
                            </li>
                            <li class="nav-item icons">
                                <a href="./novedades.html" class="links"><i class="fa-solid fa-wand-magic-sparkles"></i>
                                    <p>Novedades</p>
                                </a>
                            </li>
                            <li class="nav-item icons">
                                <a href="./nosotros.html" class="links"><i class="fa-solid fa-users"></i>
                                    <p>Nosotros</p>
                                </a>
                            </li>
                            <li class="nav-item icons">
                                <a href="./contacto.html" class="links"><i class="fa-solid fa-phone"></i>
                                    <p>Contacto</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main>

        <section>
            <article class="novedades">
                <div data-aos="fade-up" data-aos-duration="2500" class="novedadesContent">
                    <div class="novedadesTitle">
                        <h3>El programa de fidelidad de PlayStation cayó hace 2 semanas y sigue sin dar muchas señales
                            de vida. Hay incertidumbre alrededor de PS Stars</h3>
                    </div>
                    <div class="novedadesImg">
                        <img src="../img/novedades/novedades.jpg" alt="Imagen de novedades">
                    </div>
                    <div class="novedadesInfo">
                        <p>Todavía se desconoce si las compras de PS Store siguen generando puntos de PS Stars en esta
                            situación. Si eres usuario de PlayStation y sueles consultar tu progreso en PS Stars, habrás
                            notado que el programa de fidelidad de Sony ha estado totalmente inoperativo desde hace unos
                            días. Los jugadores empezaron a reportar problemas con la iniciativa el pasado 5 de junio;
                            lo que vino seguido de la decisión del equipo nipón de retirar el icono de PS Stars de la
                            app oficial de PlayStation. Ahora, el sistema lleva dos semanas caído y todavía no hay
                            muchas noticias sobre su restablecimiento. Porque, si bien es cierto que Sony se apresuró a
                            retirar su programa de fidelidad de la app de PlayStation tras ser conocedora del fallo,
                            Push Square recuerda que este icono ha vuelto sólo para mostrar el siguiente mensaje:
                            "PlayStation Stars actualmente está experimentando problemas. Nuestros ingenieros son
                            conscientes del problema y estamos trabajando en una solución". Por el momento, no se han
                            compartido más datos sobre el momento en el que podremos volver a disfrutar de las ventajas
                            de este sistema.
                            Y es que, como puedes imaginar, esta caída implica que los jugadores no tienen acceso a
                            todas las posibilidades que se ofrecen con PS Stars. En este sentido, la comunidad no puede
                            obtener los coleccionables propios del programa de fidelidad o consultar los puntos ganados
                            por comprar productos en la PS Store, entre otras cosas. Por ende, la comunidad no tiene más
                            remedio que esperar noticias de Sony para conocer en profundidad las vicisitudes del
                            problema.</p>
                    </div>
                </div>
            </article>

            <article class="novedades">
                <div data-aos="fade-up" data-aos-duration="2500" class="novedadesContent">
                    <div class="novedadesTitle">
                        <h3>No es la tarjeta gráfica más barata, pero sí la más potente: Esta RTX 4090 es una bestia que
                            hoy marca mínimo histórico</h3>
                    </div>
                    <div class="novedadesImg">
                        <img src="../img/novedades/novedades2.jpg" alt="Imagen de novedades">
                    </div>
                    <div class="novedadesInfo">
                        <p>Es de MSI, no hay mejor GPU hasta la fecha y ahora baja por primera vez de los 1.900 euros.
                            Lo mejor de tener un PC gaming de sobremesa es la posibilidad que nos dan estos de
                            actualizarlos. Cada cierto tiempo, podemos ir cambiando sus piezas por otras mejores, algo
                            que obviamente implicará una mejora en el rendimiento del mismo. Ahora bien, el cambio clave
                            de cualquier ordenador está en la tarjeta gráfica, que a fin de cuentas es la piedra angular
                            del equipo gaming. Elegir la tarjeta gráfica perfecta para nosotros es algo muy subjetivo,
                            especialmente si tenemos un presupuesto elevado que nos permita optar por casi cualquiera.
                            Las tarjetas de gama alta de NVIDIA son las más caras que hay ahora mismo, aunque también
                            son las que ofrecen mayor potencia. Apostar por ellas nos va a exigir un desembolso
                            importante, pero a cambio vamos a tener una pieza que nos va a durar años a un nivel
                            sobresaliente. La mejor de todas ellas, la RTX 4090, es una auténtica bestia que esta oferta
                            de Amazon nos deja un poco más barata: 1.899 euros.
                            No se trata de una opción precisamente económica, pero estamos hablando de lo mejor que hay
                            ahora mismo para un PC gaming. Esta oferta, que implica un descuento de 100 euros, deja este
                            ensamble de MSI a mínimo histórico, lo que se traduce en una oportunidad de ahorrarnos un
                            poco. Estamos ante una tarjeta que va a exprimir al máximo cualquier juego a 4K, sea el que
                            sea. Ojo, y eso sin contar con el DLSS 3.La GPU en cuestión, la MSI GeForce RTX 4090 GAMING
                            X SLIM, es un ensamble de grandes dimensiones para el que tendremos que tener sitio de
                            sobra. Es cierto que este modelo es un poco más delgado que la mayoría de ensambles de RTX
                            4090, pero pese a ello sigue siendo una bestia con tres ventiladores para asegurar su
                            correcta ventilación. Un punto clave de esta gráfica es que tiene 24 GB de VRAM, una cifra
                            espectacular que hará que nos dure muchísimo. Oferta interesante esta de Amazon que nos
                            permite llevarnos una de las mejores gráficas del mercado por un poco menos.</p>
                    </div>
                </div>
            </article>

            <article class="novedades">
                <div data-aos="fade-up" data-aos-duration="2500" class="novedadesContent">
                    <div class="novedadesTitle">
                        <h3>PlayStation pone fecha a un fin de semana de multijugador gratis para todos los jugadores.
                            No es necesario estar suscrito a PS Plus</h3>
                    </div>
                    <div class="novedadesImg">
                        <img src="../img/novedades/novedades3.jpg" alt="Imagen de novedades">
                    </div>
                    <div class="novedadesInfo">
                        <p>Este 22 y 23 de junio los jugadores podrán disfrutar los modos online multijugador de un
                            montón de títulos sin suscribirse a PS Plus.¿Te apetece jugar a un juego multijugador en tu
                            consola PlayStation pero no tienes suscripción activa a PS Plus? Si ese es el caso, entonces
                            estás de enhorabuena porque en cuestión de días podrás disfrutar de las modalidades online
                            de todos aquellos títulos que tengas comprados. Sony suele iniciar este tipo de promociones
                            para que los jugadores tengan la oportunidad de ver las bondades de PlayStation Plus, su
                            servicio de suscripción con el que recibes títulos mensuales y puedes jugar al modo
                            multijugador. Tal y como ha informado PlayStation a través de X/Twitter, este fin de semana
                            todos los jugadores podrán disfrutar de multijugador online gratis sin necesidad de estar
                            suscritos a PS Plus. A partir del 22 de junio a las 00:01 de la madrugada y hasta el 23 de
                            junio a las 23:59 (hora peninsular española), de modo que solo tienes que apuntar la fecha
                            en el calendario y disfrutar de los juegos que quieras, ya sea Call of Duty: Modern Warfare
                            3 o EA Sports FC 24.
                            Los únicos requisitos para acceder a los modos online son los siguientes: tener conexión a
                            Internet y una cuenta de PlayStation Network. Asimismo, esta función multijugador estará
                            disponible tanto para los usuarios de PS5 como para los que todavía tengan una PS4. De esta
                            manera, únicamente tienes que descargar el título que quieres jugar y esperar al 22 de junio
                            a la madrugada para comenzar a disfrutar. </p>
                    </div>
                </div>
            </article>
        </section>

    </main>

    <footer>
        <div class="containerFooter">
            <div class="contenFooter">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="containerMap">
                            <div class="contenMap">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1632471.4166387236!2d-126.21997132424205!3d44.223633824700386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc945173b3dd7%3A0xe8a347bb55df550c!2sCoderhouse!5e0!3m2!1ses-419!2sar!4v1715284417385!5m2!1ses-419!2sar"
                                    width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="containerRedes">
                            <h4>Seguinos en Nuestras Redes</h4>
                            <div class="contenRedes">
                                <img src="../img/redes/youtube.svg" alt="Logo de Youtube">
                                <img src="../img/redes/whatsapp.svg" alt="Logo de WhatsApp">
                                <img src="../img/redes/instagram.svg" alt="Logo de Intagram">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="containerLogoFooter">
                            <img src="../img/logoGrey.svg" alt="Logo de Digital 4 Tech">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/58fa48dc19.js" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- michalsnik -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>